*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(23, 141, 112);
}

.q{
    color: white;
    background-color: saddlebrown;
    margin: 500px;
    width: 100px;
    height: 100px;
}

.box{
    border: 5px solid black;
    margin: auto;
}


.w{
    background-color: turquoise;
}

p{
    background-color: black;
   height: 5px;
}

.e{
    border: 3px solid red;
    margin: auto;
    width: 600px;
}